.warrior {
    width: 150px;
    height: 200px;
    margin-right: 5px;
    border: 1px solid black;
    text-align: center;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  
  .warrior:last-of-type {
    margin-right: 0;
  }
  
  .warrior h2 {
    flex-basis: 100%;
    margin: 0;
  }
  
  .warrior img {
    align-self: flex-end;
  }

.active {
    opacity: 0.5;
    transform: scale(1.05, 1.05)
  }

 .btn-block {
   order: 1;

   display: flex;
   align-items: baseline;
   
   div {
     padding: 0 20px;
     text-align: center;
     font-size: 24px;
     color: #fff;
     &:nth-child(3) {
       order: -1;
     }
   }
 }

.btn-fight, 
.btn-restart {
  padding: 5px;
}